<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="bpc" version="4.0">
    <display-name>Business Policy Concession</display-name>
    <servlet>
        <servlet-name>BPCForm</servlet-name>
        <servlet-class>com.eaton.icc.bpc.BPCForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BPCForm</servlet-name>
        <url-pattern>/BPCForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPCForm</servlet-name>
        <url-pattern>/bpc/BPCForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPCForm</servlet-name>
        <url-pattern>/servlet/bpc/BPCForm</url-pattern>
    </servlet-mapping>
</web-app>
